<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>페이지 목록</title>
</head>
<body>
<header>

</header>
<section>
    <div>
        <h1>문서 목록</h1>
        <table>
            <thead>
            <tr>
                <th>문서 이름</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="documentInfo, state : ${documentInfos}">
                <th><a th:text="${documentInfo.getDocument().getDocumentTitle()}" th:href="${documentInfo.getPath()}"></a></th>
                <th>
                    <a href="#" th:onclick="postRequest([[${documentInfo.getDocument().getDocumentTitle()}+'Update']]); return null;">수정</a>
                    <form th:id="${documentInfo.getDocument().getDocumentTitle()}+'Update'" th:action="${updatePagePath}" method="post" style="display:none;">
                        <input type="hidden" name="document_title" th:value="${documentInfo.getDocument().getDocumentTitle()}">
                    </form>
                </th>
                <th>
                    <a href="#" th:onclick="postRequest([[${documentInfo.getDocument().getDocumentTitle()}+'Delete']]); return null;">삭제</a>
                    <form th:id="${documentInfo.getDocument().getDocumentTitle()}+'Delete'" th:action="${deletePath}" method="post" style="display:none;">
                        <input type="hidden" name="document_title" th:value="${documentInfo.getDocument().getDocumentTitle()}">
                    </form>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<script>
function postRequest(id) {
    document.getElementById(id).submit();
}
</script>
</body>
</html>